<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Latian_LKS_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Latian_LKS_3.Properties.Settings.perpustakaan_smk_nasionalConnectionString"
            connectionString="Data Source=LAPTOP-QK9HLMP4\HOYIRULSQL;Initial Catalog=perpustakaan_smk_nasional;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Latian_LKS_3.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="nama" serializeAs="String">
                <value />
            </setting>
            <setting name="alamat" serializeAs="String">
                <value />
            </setting>
            <setting name="nik" serializeAs="String">
                <value />
            </setting>
            <setting name="level" serializeAs="String">
                <value />
            </setting>
            <setting name="waktu" serializeAs="String">
                <value />
            </setting>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
        </Latian_LKS_3.Properties.Settings>
    </userSettings>
</configuration>
